* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  width: 100%;
  /* height: 100vh; */
  /* border: 5px solid red; */
  font-family: Arial, Helvetica, sans-serif;
}

#main-container {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  /* padding: 0px 2em; */
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background-color: green; */
  color: white;
  background: url(./assets/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* z-index: 1000; */
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 10;
  background: linear-gradient(to bottom, black, transparent);
}

.hero::after {
  content: "";
  position: absolute;
  bottom: -0px;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 10;
  background: linear-gradient(to top, black, transparent);
}

.header {
  position: relative;
  width: 95%;
  height: 100px;
  margin: auto;
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.header-container {
  width: 100%;
  height: 100%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 30%;
  height: 100%;
  /* border: 2px solid yellow; */
}

.logo-container {
  width: 220px;
  height: 100%;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: left;
  align-items: center;
}

.logo-container > img {
  width: 100%;
  height: 100%;
}

.sign-in {
  width: 30%;
  height: 100%;
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: right;
  align-items: center;
}

.sign-in-btn {
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
}

.btn {
  background-color: #ff0000;
  padding: 12px 20px;
  border-radius: 7px;
  border: none;
  outline: none;
}

.btn a {
  text-decoration: none;
  color: white;
  font-size: 1.4em;
  font-weight: 600;
}

.hero-body {
  width: 100%;
  min-height: 100vh;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin: auto;
}

.banner {
  position: relative;
  max-width: 700px;
  height: 300px;
  margin: auto;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translate(0%, -20%);
  z-index: 1000;
}

.banner-desc {
  width: 100%;
  height: 75%;
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

h1 {
  width: 100%;
  font-size: 3.2em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
}

.action-box {
  width: 100%;
  height: 25%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-box > input {
  width: 70%;
  /* height:70%; */
  height: 50px;
  padding: 18px 20px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  outline: none;
}

.action-box > .start-btn .btn {
  width: 200px;
  height: 50px;
  /* height: 70%;    */
  padding: 15px 20px;
  border-radius: 0px 5px 5px 0px;
}

.style-cards {
  width: 100%;
  /* height: 100vh; */
  /* border: 2px solid red; */
}

.style-card {
  width: 100%;
  background-color: black;
  border-top: 8px solid #222222;
  padding: 50px 50px;
  color: #fff;
}

.card-1-container {
  width: 100%;
  height: 100%;
  padding: 3em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-1-left {
  width: 55%;
  height: 100%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-1-left-desc {
  width: 100%;
  height: 100%;
  /* border: 2px solid green; */
  padding: 0px 0px 0px 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  gap: 20px;
}

.style-card h2 {
  font-size: 3em;
}

.style-card p {
  width: 100%;
  font-size: 1.7em;
  line-height: 1.2em;
}

.card-1-right {
  width: 45%;
  height: 100%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-1-right-container {
  position: relative;
  min-width: 700px;
  height: 520px;
  padding: 0px 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid yellow; */
}

.card-1-right-container > img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.card-1-right-container > video {
  position: absolute;
  top: 21%;
  left: 14.59%;
  width: 70%;
  z-index: 1;
}

.card-2-container {
  width: 100%;
  height: 100%;
  padding: 3em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-2-left {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
}

.card-2-left-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-2-outer-img {
  min-width: 700px;
  height: 520px;
}

.card-2-outer-img > img {
  width: 100%;
  height: 100%;
}

.card-2-inner-img {
  position: absolute;
  bottom: 10%;
  min-width: 350px;
  height: 90px;
  border: 2px solid #222222;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  border-radius: 5px;
  /* border: 5px solid red; */
}

.card-2-inner-img > img:nth-child(1) {
  /* border: 1px solid white; */
  min-width: 50px;
  height: 70px;
}

.card-2-inner-img p {
  font-size: 1em;
  font-weight: 600;
  /* border: 2px solid blue; */
  width: 50%;
}

.card-2-inner-img span {
  font-size: 0.8em;
}

.card-2-inner-img > img:nth-child(3) {
  width: 50px;
  height: 50px;
}

.card-2-right {
  width: 55%;
  height: 100%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-2-right-desc {
  width: 90%;
  height: 100%;
  /* border: 2px solid green; */
  padding: 0px 2em 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  gap: 20px;
}

.card-3-container {
  width: 100%;
  height: 100%;
  padding: 3em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-3-left {
  width: 55%;
  height: 100%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-3-left-desc {
  width: 100%;
  height: 100%;
  /* border: 2px solid green; */
  padding: 0px 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  gap: 20px;
}

.card-3-right {
  width: 45%;
  height: 100%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-3-right-container {
  position: relative;
  min-width: 700px;
  height: 526px;
  padding: 0px 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid yellow; */
}

.card-3-right-container > img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.card-3-right-container > video {
  position: absolute;
  top: 8%;
  left: 18.5%;
  width: 60%;
  z-index: 1;
}

.card-4-container {
  width: 100%;
  height: 100%;
  padding: 3em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-4-left {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
}

.card-4-left-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-4-img {
  min-width: 700px;
  height: 520px;
}

.card-4-img > img {
  width: 100%;
  height: 100%;
}

.card-4-right {
  width: 55%;
  height: 100%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-4-right-desc {
  width: 90%;
  height: 100%;
  /* border: 2px solid green; */
  padding: 0px 2em 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  gap: 20px;
}

.faq-section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
  border-top: 8px solid #222222;
}

.faq-container {
  width: 100%;
  height: 100%;
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.faq-heading {
  font-size: 2em;
  margin-bottom: 1em;
}

.faq-body {
  width: 100%;
  height: 100%;
  /* border: 2px solid blueviolet; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-body-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 2em;
  /* gap: 10px; */
}

.faq {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.question {
  width: 100%;
  height: 80px;
  background-color: #2d2d2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.question:hover {
  background-color: #545454;
}

.faq.active .question span {
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}

.faq .question span {
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}

.question,
.answer {
  font-size: 1.2em;
  text-align: left;
  max-width: 1200px;
}

.answer {
  position: relative;
  background-color: #2d2d2d;
  width: 100%;
  height: 0%;
  top: -10px;
  border-top: 1px solid black;
  /* max-height: 0px; */
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* overflow: hidden; */
  transition: all 0.5s ease-in-out;
}

.faq.active .answer {
  display: block;
  height: 100%;
  /* max-height: 300px; */
  padding: 10px 20px;
}

.faq.active .question .answer {
  transition: all 0.5s ease-in-out;
}

.question span.material-symbols-outlined {
  font-size: 32px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
}

.footer-cta {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer-cta-container {
  width: 100%;
  max-width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 50px;
  margin: auto;
  /* border: 2px solid blue; */
}

.footer-container {
  width: 100%;
  max-width: 1100px;
  height: 100%;
  padding: 2em 2em;
  /* border: 2px solid green; */
}

.help {
  font-size: 1em;
  color: #8a8a8a;
  font-weight: 600;
}

.help a {
  /* text-decoration: none; */
  color: #8a8a8a;
  cursor: pointer;
  font-weight: 600;
}

.footer-nav {
  width: 100%;
  height: 100%;
  padding: 2em 0em;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav-container {
  width: 100%;
  height: 100%;
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap ;
}

.footer-nav-1 {
  width: 200px;
  max-width: 300px;
  height: 100%;
  /* border: 1px solid blue; */
}

.footer-nav-1-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.footer-nav-1-list a {
  /* text-decoration: none; */
  color: #8a8a8a;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
}

.language-container{
  width: max-content;
  height: 100%;
  /* border: 2px solid blue; */
  margin: 2em 0px;
}

.light-btn {
  width: 120px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #545454;
  border-radius: 5px;
}

.light-btn {
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 7px;
  outline: none;
  color: white;
}

.footer-text{
  font-size: 1em;
  color: #8a8a8a;
}


::-webkit-scrollbar {
  display: none;
}
